
.black_name{
    color: black;
}

.red_name{
    color: red;
}

.green_name{
    color: lime;
}

.yellow_name{
    color: yellow;
}

.blue_name{
    color: blue;
}

.cyan_name{
    color: cyan;
}

.magenta_name{
    color: magenta;
}

.white_name{
    color: white;
}
